.score-board {

    background-color: rgba(0, 0, 0, 0.395);
    border-radius: 10px;
    margin-left: 5%;
    padding: 8%;

}

.score-display {
    background-color: rgba(0, 0, 0, 0.531);
    color: aqua;
    padding: 5%;
    border-radius: 5px;

}